@model string

@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@TempData["Privacy"]</p>

<p>@Model</p>

<p>@ViewData["Str"]</p>

<p>@ViewBag.String</p> 